/* HEADER STYLES */
.header {
  display: flex;
  align-items: center;
  padding: 1.5rem 4rem;
  background-color: #000;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.nav-links {
  display: flex;
  gap: 2.5rem;
  font-weight: 600;
}

.nav-links a, 
.nav-links .active {
  color: #eeebdd;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.nav-links a:hover {
  opacity: 0.7;
}

.header-actions {
  flex: 1;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 1.5rem;
}

.header-actions .search-bar input { 
  color: #fff; 
  border-bottom: 1px solid #fff;
}